name: CI/CD Pipeline

on:
  push:
    branches:
      - master
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "7.0.x"
      - name: Restore packages
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --no-restore --verbosity normal
        
  docker:
    needs: build

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Check out code
      - name: Build & push Docker image
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
          image: dockeroo80/uima-xmp-manager
          tags: latest
          registry: docker.io
          dockerfile: Dockerfile
          username: dockeroo80
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
          
  deploy:
    needs: docker
  
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Generate kube configuration
        run: |
          mkdir ~/.kube
          touch ~/.kube/config
          echo "${{ secrets.AKS_CONTEXT }}" >> ~/.kube/config

#       - name: Create secrets
#         run: |
#           kubectl delete configmap env-configmap --ignore-not-found
#           kubectl create configmap env-configmap --from-literal=env.js=${{ secrets.ENV_SECRETS }}

      - name: Deploy application
        run: kubectl apply -f k8s/deployment.yml

      - name: Restart pod
        run: kubectl rollout restart deploy xmp-manager-deployment
